body {
    font-family: 'Cinzel', serif;
    margin: 0;
    background-color: #FFF6A5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2.5rem; 
    align-items: center;
    justify-content: center;
}

.info-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-tablero {
    margin-right: 15%;
}

h1 {
    color: #312E2E;
    font-size: 4rem;
    font-family: 'Irish Grover', cursive;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    grid-column: span 2;
    margin-bottom: 1.25rem;
    text-decoration: underline;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(4, 12.5rem); 
    grid-gap: 1.5rem; 
    padding: 2rem; 
    background-color: #9F9854; 
    border-radius: 1rem;
    box-shadow: 0.625rem 0.625rem 1.5625rem #79733f;
    justify-self: end; 
}

.card {
    position: relative;
    width: 100%;
    height: 12.5rem; 
    cursor: pointer;
    perspective: 1000px;
    border-radius: 0.625rem; 
}

.card img {
    border-radius: 0.625rem; 
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 0.625rem;
}

.front {
    background-color: #fcf4ab; 
    display: flex;
    font-size: 3rem; 
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.back {
    background-color: #bbb15c; 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
}

.card.turned .back {
    transform: rotateY(180deg);
}

.card.turned .front {
    transform: rotateY(0deg);
}


.info {
    background-color: #BEB34D;
    padding: 2rem; 
    border-radius: 0.625rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem #867f3d;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    height: auto;
    width: auto; 
    justify-self: start; 
}

.player, .mark {
    display: flex;
    align-items: center;
    font-family: 'Cinzel', serif;
}

.player label, .mark label {
    color: #111111;
    font-weight: bolder;
    font-size: 1.4rem;
    margin-right: 0.6rem;
    margin-bottom: 0.3125rem;
}

#player, #mark {
    background-color: #FFF8BB; 
    color: #1c1609;
    border: none;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: 1.5rem; 
    padding: 0.45rem;
    height: auto;
    width: 10rem; 
    border-radius: 0.6rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0.5rem;
    margin-top: 0.7rem;
}

.bt {
    background-color: #FDEC53;
    color: #000000;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    transition: transform 1s, background-color 1s;
}

.bt:hover {
    background-color: #d8ce77;
    transition: transform 1s, background-color 1s;
}

/* MOVILES */
@media (max-width: 600px) and (max-width: 767px) {
    body {
        margin: 0;
        height: auto;
        padding: 1rem;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .tablero {
        grid-template-columns: repeat(3, 6.5rem);
        grid-gap: 1rem;
        padding: 1.5rem;
    }

    .card {
        height: 5rem;
    }


    h1 {
        font-size: 2rem;
    }


    .container-tablero {
        margin-right: 0%;
        justify-content: center;
        align-items: center;
    }

    .info {
        padding: 1rem;
    }

    #player, #mark {
        width: 5rem;
        height: 0.7rem;
        font-size: 1rem;
    }

    .player label, .mark label {
        font-size: 1rem;
    }

    .bt {
        padding: 0.2rem;
        font-size: 1rem;
    }
}

/* OTROS */
@media (min-width: 1000px) {
    .tablero {
        grid-template-columns: repeat(4, 8.5rem);
        grid-gap: 1rem;
        padding: 1.5rem;
    }

    .card {
        height: 9rem;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    body {
        margin: 0;
        height: auto;
        padding: 1rem;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .tablero {
        grid-template-columns: repeat(3, 6.5rem);
        grid-gap: 1rem;
        padding: 1.5rem;
    }

    .card {
        height: 5rem;
    }


    h1 {
        font-size: 2rem;
    }


    .container-tablero {
        margin-right: 0%;
        justify-content: center;
        align-items: center;
    }

    .info {
        padding: 1rem;
    }

    #player, #mark {
        width: 5rem;
        height: 0.7rem;
        font-size: 1rem;
    }

    .player label, .mark label {
        font-size: 1rem;
    }

    .bt {
        padding: 0.2rem;
        font-size: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1050px) {
    h1 {
        font-size: 2.5rem;
    }

    .card {
        height: 5rem;
        width: 7rem;
    }
    
    .info {
        padding: 1rem;
    }

    #player, #mark {
        width: 7rem;
        height: 0.8rem;
        font-size: 1.2rem;
    }

    .player label, .mark label {
        font-size: 1.2rem;
    }

    .bt {
        padding: 0.4rem;
        font-size: 1.2rem;
    }
}

/* ESCRITORIO */
@media (min-width: 1000px) and (max-width: 1200px) {
    .tablero {
        grid-template-columns: repeat(4, 7rem);
        grid-gap: 1rem;
        padding: 1.5rem;
    }

    .card {
        height: 9rem;
    }
}

  /* Tabletas */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
        height: auto;
        padding: 1rem;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .tablero {
        grid-template-columns: repeat(3, 10rem);
        grid-gap: 1rem;
        padding: 1.5rem;
    }

    .card {
        height: 8.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    .container-tablero {
        margin-right: 0%;
        justify-content: center;
        align-items: center;
    }

    .info {
        padding: 1rem;
    }

    #player, #mark {
        width: 7rem;
        height: 1.5rem;
    }

    .player label, .mark label {
        font-size: 1.5rem;
    }

    .bt {
        padding: 0.5rem;
        font-size: 1.5rem;
    }
  }